header{
    background-image: url('/src/assets/women.png');
    width: 100%;
    height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    cursor: pointer;
}

header div{
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: var(--color-grey-6);
}

.div-information-header{
    gap: 32px;
}

.div-information-header h2{
    font-size: var(--size-2);
    font-weight: var(--weight-1);
    line-height: 48px;
}

.div-information-header p {
    font-size: var(--size-6);
    font-weight: var(--weight-2);
    line-height: 32px;
}

.div-information-header strong{
    font-weight: 600;
    font-size: var(--size-6);
}

header button{
    padding: 16px 50px;
    width: 296px;
    background-color: var(--color-brand-1);
    border-radius: var(--radius);
    border: 1px solid transparent;
    color: var(--color-grey-6);
    font-size: var(--size-6);
    font-weight: var(--weight-2);
}